body {
  margin: 0;
}

#app {
  background-image: url('/WhatsApp Image 2024-12-07 at 01.13.27 (1).jpeg');
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  iframe {
    filter: invert();
  }

  #chatling-open-chat-icon div {
    background-color: rgb(225, 238, 106) !important;
  }

  svg path {
    fill: rgb(47, 47, 48);
  }
}
